<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Kozar</a>
    <ul class="navbar-nav ml-auto">
    	 <%= link_to "Button", root_path, class: "btn btn-danger navbar-btn"%>
    	 <%= link_to "Button", root_path, class: "btn btn-danger navbar-btn" %>
    	 <%= link_to "Button", root_path, class: "btn btn-danger navbar-btn" %>
      
    </ul>
</nav>